/* navbar                      start */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Caveat:wght@600&family=Edu+NSW+ACT+Foundation:wght@500&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    width: 100%;
    height:100vh;
    background-image: url('./images/home-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative; 
}
nav{
    position: sticky;
    top: 0PX;
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height:60px; 
    background-color: #fff;
    opacity: 1;
}
nav img{
    width: 200px;
    height: 40px;
    top:20%;
}
.nav-bar{
    flex: 5;
    text-align: right;
    margin: 0 auto;
    width:80px;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    color: gray;
}
.nav-bar ul li a{
    text-decoration: none;
    color:gray;
}
.text-box{
    width: 100%;
    color: #77dd63;
    position: absolute;
    top: 30%;
    padding: 0px 200px;  
}
.text-box h2{
    font-size: 40px;
}
.text-box p{
    font-size:19px;
    color: gray;
    line-height: 25px;
    margin-top: 10px;
}
.nav-bar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #0f0f0f;
    display: block;
    position:absolute;
    transition:0.5s;
}
.nav-bar ul li a:hover{
    background-color: #298517;
    color: #0f0f0f;
    

}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav ul li:hover::after{
    width: 100%;
} 
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    background-color: rgb(78, 63, 63);
    border: 1px solid rgb(37, 34, 34);
    padding: 6px 20px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
}


.checkbtn{
    font-size:30px ;
    line-height: 80px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    color: black;
    display: none;
}
#check{
    display:none;
}

@media (max-width:800px){
    .nav-bar ul li a{
        font-size: 16px;
    } 
}
@media (max-width:600px){
    .text-box{
        width: 100%;
        color:#298517;
        position: absolute;
        top: 50%;
        padding: 0px 200px;  
    }
    .text-box h2{
        font-size:30px;
    }
    .text-box p{
        font-size: 20px;
    }
    .checkbtn{
        display: block;
    }
    .nav-bar ul{
        position:fixed ;
        width: 100%;
        height: 38vh;
        top:60px;
        left:-120%;
        background:yellowgreen;
        text-align: center;
        transition: all .5s;
    }
    .nav-bar ul li{
        display:block;
        margin:12px 0;
        line-height: 5px;
    }
    .nav-bar ul li a{
        font-size: 20px;
    }
    .nav-bar ul li a:hover{
        color:#0082e6;
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }

}

/* product section */


.Featured{
    padding: 30px;
}
.Featured h2{
    font-size: 35px;
    margin-bottom:15px;
    text-align: center;
    color: #6e8a3c;
    font-weight: 400;
    margin-top: 80px;
}

.Product-container{
    margin: auto 170px;
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.product-box{
    height: 360px;
    width: 300px;
    padding: 35px 20px;
    text-align: center;
    align-items: center;
    border: 1px solid #666;
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.product-box img{
    height: 150px;
    width: 150px;
    object-fit: covers;
}

.product-box h3{
    font-size: 18px;
    color: #7c974c;
    padding-bottom: 6px;
}
.star i{
    color: gold;
    padding-bottom: 6px;
    font-size: 18px;
}

 .price span{
    font-size: 13px;
    color: #aaa;
    padding: 0 5px;
    text-decoration: line-through;
}
.price{
    font-size: 16px;
    color: #666;
    padding-bottom: 8px;
}
a{
    text-decoration: none ;
}
.box-icon a .fas{
    margin: 8px ;
}
.box-icon a {
    border: 1px solid #666;
    padding: 14px 14px;
    border-radius: 4px;
    color: #666;
    margin: 0px 4px;
}



/* product section end */


/* about               section        start */

.about{
    margin: 5px;
    padding: 30px 20px;
 }
 .about h2{
  font-size: 50px;
  font-weight: 300;
  color: #6e8a3c;
  text-align: center;
 }
 .abouts{
    display: flex;
    justify-content: space-between;
    margin: 35px auto;
    width: 75%;
    flex-wrap: wrap;
 }
 .about-img{
    width:20%; 
    flex: 1 1 200px;
 }
 .about-img img{
  width: 100%;
  object-fit: cover;  /*image size property */ 
  padding-right: 1px;
  height: 400px;
 }
 .about-content{
     width:48%;
     margin-left: 50px; 
     display: flex;
     flex-direction: column;
     gap: 15px;
     margin-top: 10px;
     flex: 1 1 200px;
 }
 .about-content h3{
    font-size: 40px;
    color:#6e8a3c;
    margin-top: 18px;
    font-weight: 300;
    font-size: 25px;
    color: #6e8a3c;
}
 .about-content p{
    font-size: 20px;
    color:#aaa;
    margin-top: 15px;
 }
 .btn{
  background-color: #666;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  width: 30%;
  text-decoration: none;
  padding: 6px 15px;
  border: none;
 }

/* about               section         end*/ 





/*  SERVICE             SECTION           START */ 


.services{
    text-align: center;
    

}
.services h3{
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-top: 40px;
    color: #6e8a3c;
    font-weight: lighter;
}
.cen{
    max-width: 1700px;
     margin: auto; 
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}
.service{
    display: inline-block;
    width: calc(100% / 4);

    box-sizing: border-box;
    cursor: pointer;
    transition: 0.7s;
    padding-top: 40px;
}
.service i{
    font-size: 55px;
    color: grey;
    margin-bottom: 10px;
    
}
.services h2{
font-size:20px;
text-transform: uppercase;
font-weight: lighter;
margin: 0;
color: #6e8a3c;
}
.service p{
color: gray;
font-size: 20px;
font-weight: 500;

padding: 5px;
margin-bottom: 20px;
}



@media screen and (max-width: 992px) {
    .service{
        width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .service{
        width: 100%;
    }
     .Contact_details{
        margin-top:33rem;
     }
     .text-box{
        padding: 0px 38px;  
    }
    .product-box{
        margin-left: -11rem;
        padding: 21px 10px;
    }
    .btn{
        width: 38%;
    }
    
  } 

  /* Media Query End */

/*  SERVICE             SECTION           END */ 
  

/* REVIEW                SECTION           START    */

*{
   
    font-family: cursive;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    text-align: center;
}
.full-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 30px;
    align-items: center;
    width: 100%;
}
.comment-box{
    width: 500px;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
}
.profile{
    display: flex;
    align-items: center;
}
.profile-image{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
    border: 4px solid green;

}
.profile-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.name h3{
   font-weight: lighter;
   color: #6e8a3c;
   
}
.name span{
    font-weight: lighter;
     color: #666;
   

}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.comment p{
    color: #666;
}
.main h2{
    font-weight: lighter;
   color: #6e8a3c;
    font-size: 2rem;
}




/* REVIEW                SECTION           END    */


                            

/* contact            section            start*/

.Contact_details h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    color: #6e8a3c;
    
  }
  .item_box{
    border: 1px solid rgb(201, 198, 198);
    margin: 30px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
  }
  .boxes{
    flex: 1 1 200px;
    width: 50%;
    height: 80vh;
  }
  .boxes img{
    width: 100%;
    height: 80vh;
    border-radius: 20px 0px 0px 20px;
  }
  .form_box{
    margin:  auto;
    width: 50%;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px; 
  }
  .form_item{
    margin-bottom: 13px;
  }
  .form_item h4{
    font-size: 17px;
    color: #6e8a3c;
  }
  input{
    margin-top: 5px;
    width: 35vw;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid rgb(201, 198, 198);
  }
  form .button{
    width: 70px;
    display: inline-block;
    text-decoration: none;
    color:#fff;
    background-color: rgb(78, 63, 63);
    border: 1px solid rgb(37, 34, 34);
    padding: 3px 15px;
    font-size: 15px;
    cursor: pointer;
  }
  #message{
    width: 30vw;
    height: 100px;
    margin-top:5px;
    padding: 5px 10px;
    border: 1px solid rgb(201, 198, 198);
    overflow: hidden;
  }

/* footer        section        start */
    
.footer-container{
    margin: 180px auto;
    background-image: url(./images/footer-bg.jpg);
    background-size: cover;
    width: 100%;
    flex-wrap: wrap;
 }
 .footer-content{
    margin: 0px auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:9%;
    border-bottom: 1px solid rgb(138, 130, 130);
 }
 .para-box{
    margin: 20px 0px;
    width:36%;
    padding: 0px 20px 0 0;
    overflow: hidden;
 }
 .para-box p{
     margin-top: 15px;
     color: rgb(138, 130, 130);
     overflow: hidden;
 }
 .contact-box{
     margin: 20px 0;
     overflow: hidden;
 }
 .contact-box h3{
     color: #6e8a3c;
     font-size: 30px;
     font-weight: 400;
 }
 .icon-box .box1{
     display: flex;
     margin-top: 23px;
 }
 .box1 h3{
     margin-right: 12px;
     color:#6e8a3c;
     font-weight: 100;
 }
 .box1 span{
     color:rgb(170, 167, 167);
 }
 
 .follow-box{
     margin:20px 0;
     overflow: hidden;
 }
 .follow-box h3{
     color:#6e8a3c;
     font-size: 30px;
     margin-top:0px;
     font-weight: 400;
 }
 .box-icon{
     margin-top: 12px;
 }
 .box-icon i .fa{
     margin: 8px;
 }
 .box-icon i {
     border: 1px solid #666;
     padding: 14px 14px;
     border-radius:50%;
     color:rgb(170, 167, 167);
     margin: 0px 4px;
 }
 .bottom-details h1 {
     text-align: center;
     align-items: center;
     color: #6e8a3c;
     font-size: 20px;
     margin-top:12px;
     font-weight:400px;
 }
 .name::before{
         content: "Created By ";
         color: rgb(170, 167, 167);
 }

 .name::after{
         content: " |All Rights Reserved! 2022";
         color: rgb(170, 167, 167);
 }
/* footer section end */